


<!-- Footer -->
<footer id="footer" class="container">
  <hr>
  <p class="col-sm-12">Share<br>

    <a class="twitter-share-button fa fa-twitter fa-lg socialIcon"
        href="https://twitter.com/intent/tweet?text=moaimusictools.herokuapp.com"
        onClick="MyWindow=window.open('https://twitter.com/intent/tweet?text=Music%20production%20tools%20at%20moaimusictools.herokuapp.com','MyWindow',width=300,height=300); return false;"
        data-size="large" class="fa fa-twitter fa-lg socialIcon">
    </a>
    <a href="http://www.facebook.com/share.php?u=[moaimusictools.herokuapp.com]&title=[Moai Music Tools for Producers and Songwritters]" class="fa fa-facebook fa-lg socialIcon"></a>
  </p>
  <p class="col-sm-4 footerText">Code @ 
    <a href="https://github.com/moaiii/moaimusictools" target="blank">GitHub</a>
  </p>
  <p class="col-sm-4 footerText">Created by 
    <a href="http://christophermelville.com" target="blank">Chris Melville</a> 
    (<a href="http://soundcloud.com/moai_music" target="blank">MOAI</a>)
  </p>
  <p class="col-sm-4 footerText">
    &copy 2016 
  </p>
</footer>