<!-- <footer>
	<p>Created by Christopher Melville (2016) with Node-Js</p>
	<a href="mailto:chrstopher.melvile@me.com">
		<p>christopher.melville@me.com</p>
	</a>
</footer>
 -->

  <!-- Footer -->
  <footer id="footer" class="container">
    <hr>
    <p class="col-sm-12">Share with <br>
      <a href="" class="fa fa-twitter fa-lg socialIcon"></a>
      <a href="" class="fa fa-facebook fa-lg socialIcon"></a>
      <a href="mailto:someone@example.com?Subject=Guitar%Scales%App!" class="fa fa-envelope-o fa-lg socialIcon"></a>
    </p>
    <p class="col-sm-4 footerText">Get the code on 
      <a href="https://github.com/moaiii/MusicScales" target="blank">GitHub</a>
    </p>
    <p class="col-sm-4 footerText">Created by 
      <a href="http://christophermelville.com" target="blank">Chris Melville</a> 
      (<a href="http://soundcloud.com/moai_music" target="blank">MOAI</a>)
    </p>
    <p class="col-sm-4 footerText">
      &copy 2016 
    </p>
  </footer>