<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="icon" href="/images/toolsLogo.png">
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-ui.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome/css/font-awesome.css">
  <!-- Overwrite bootstrap styles -->
    <link href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>  
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body id="body">
	<!-- Include the Header -->
	<%- include header.ejs %>

	<!-- Page Body -->
  <div class="index">
    <h1 class="title"><%= title %></h1>
    <hr id="hr">
    <div class="">
      <img src="/images/moaiColorSmall.png">
      <br><br>
      <p class="col-xs-8 col-xs-offset-2 col-lg-8 col-lg-offset-2" >Here is a collection of my most used tools for creating electronic music with Ableton Live. I hope you find them helpful - any suggestions or comments please contact me <a href="mailto:christopher.melville@me.com" target="blank">here</a> </p>
    </div>
    

    <iframe class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4" width="100%" height="250" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/260533859&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
  </div>
    

	<!-- Include Footer -->
    <%- include footer.ejs%>
  </body>
</html>
